<h1>New book</h1>
<form method="post" action="/books">
  <label for="book_title">Title</label><br>
  <input type="text" name="book[title]" id="book_title"><br>

  <label for="book_author">Author</label><br>
  <input type="text" name="book[author]" id="book_author"><br>

  <label for="book_description">Description</label><br>
  <textarea name="book[description]"></textarea><br>

  <button>Create</button><br>
</form>
