<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>SASS with Gulp</title>
  <script src="/jquery/dist/jquery.min.js" charset="utf-8"></script>
  <script src="/js/app.js" charset="utf-8"></script>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <%- body %>
</body>
</html>
