ul {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  padding: 0;
  border: 2px solid black;
}

li {
  float: left;
  width: 200px;
  height: 200px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 2px solid black;
  list-style-type: none;
}

.x{
  background: blue;
}
.o{
  background: red;
}
