<h1>Add User</h1>
<form name ="newUser" ng-submit ="usersNew.create()">
  <div class="form-group">
    <label for="name">Name</label>
    <input class ="form-control" type="text" id="name" placeholder="Name" ng-model="usersNew.user.name">
  </div>
  <div class="form-group">
    <label for="name">Image</label>
    <input class ="form-control" type="text" id="image" placeholder="Image"  ng-model="usersNew.user.image">
  </div>
  <input type="submit" clas ="btn btn-primary">
</form>

{{usersNew.user}}
