<!DOCTYPE html>
<html>
<head>
  <title>ToEat.ly</title>
  <link rel='stylesheet' href='/css/normalize.css'>
  <link rel='stylesheet' href='/css/style.css'>
</head>
<body>
  <%- include ./application/_header %>
  <main>
    <%- body %>
  </main>
</body>
</html>
