<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <% var a ='Hello' %>
    <h1><%=a %></h1>
    <h1>Welcome to Nat's website to get on her favorite show!</h1>
  </body>
</html>
