<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <ul>
    <% ['Bob', 'Claire', 'Micky', 'Sandra'].forEach(function(name){ %>
      <li><h2><%= name %></h2></li>
    <% }); %>
    </ul>
    <h1>Welcome to Nat's website to get on her favorite show!</h1>
  </body>
</html>
