<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Posting in Sinatra</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <main>
      <form action="/navigate" method="post">
        <input type="text" name="destination" autofocus>
        <button>Navigate</button>
      </form>
      <h1><%= @title %></h1>
      <%= yield %>
    </main>
  </body>
</html>
