<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MoviesApp</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/jquery/dist" charset="utf-8"></script>
  </head>
  <body>

  </body>
</html>
